@import '../../styles/setting';

.partners {
  background-color : $background ;
  padding : 15px 0 ;
  width : 100% ;
}

.partners__title {
  color : $black ;
  text-transform : uppercase ;

  /* TITLE 32 BOLD */
  font-family : SF UI Text ;
  font-size : 32px ;
  font-style : normal ;
  font-weight : bold ;
  line-height : 40px ;
  padding : 0 10% ;
}

.partners__container {
  display : flex ;
  flex-wrap : wrap ;
  margin : 8% 0 ;
  padding : 0 2.5% ;
}


@include mq($mobileWidth, max) {
  .partners__title {
    
    /* TITLE(mob) BOLD16 */    
    font-family : SF UI Text ;
    font-size : 16px ;
    font-style : normal ;
    font-weight : bold ;
    line-height : 32px ;
  }
}
